fastapi==0.115.8
jedi==0.19.2
Jinja2==3.1.5
MarkupSafe==3.0.2
matplotlib==3.10.0
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
pandas==2.2.3
pillow==11.1.0
pydantic==2.10.6
pydantic_core==2.27.2
scipy==1.15.1
seaborn==0.13.2
tqdm==4.67.1
ultralytics==8.3.74
ultralytics-thop==2.0.14
